@model IEnumerable<Entidades.TipoArroz> 

<div class="row">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th class="text-gray">Opciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kilos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.TipoArrozId }, new { @class = "btn btn-primary btn-lg" })
                    @Html.ActionLink("Detalle", "Details", new { id = item.TipoArrozId }, new { @class = "btn btn-info btn-lg" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.TipoArrozId }, new { @class = "btn btn-danger btn-lg" })
                </td>
            </tr>
        }
    </table>
</div>